table, div {	font-family: Arial, Helvetica, sans-serif;font-size: x-small;color: #044757;}
a:link {color: #0000C0;text-decoration: underline;}
a:visited {color: #0000C0;text-decoration: underline;}
a:hover {color: 0000FF;}
.dsc {font-size: 11px;}
.eye {width: 11px; height: 11px; margin-bottom: -2px}
.hnd {cursor: help}
input, textarea {font-family: Courier new, courier, sans-serif;font-size: 12px; border-width:1px; }
.red {color: #FF0000; font-family: monospace; font-size: small}
.uj {text-align: right; vertical-align: top}
.errmsg{display:block; font-family:courier new; font-size:16px; color:#FF0000}
.errmsg1{color:#880000}
input.modsetstr{width:100%}
.globalset {background-color:#EECCCC}
//.modtable td, .lfield{padding-left:1px}
